$text-white: #f0f0f0;

@font-face {
  font-family: digitalFont;
  src: url(digitalFont.ttf);
}

* {
  font-family: digitalFont;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #151515;
  min-width: 1250px;
}

header {
  padding: 10px 0;
  text-align: center;
  color: $text-white;
  letter-spacing: 5px;
}

.textboard {
  max-width: 1200px;
  margin: 0 auto;
  padding: 35px 25px 25px;
  border: 5px solid rgb(36, 36, 36);
  border-radius: 5px;
  box-shadow: 2px 2px 5px black inset;
  text-align: center;

  &__row {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;

    &__input {
      flex: 1;
      min-width: 0;
      color: $text-white;
      text-align: center;
      font-size: 40px;
      background-color: #242424;
      border: none;
      box-shadow: 1px 1px 8px 0.5px #010101 inset;
      padding: 10px 0;
    }
  }

  &__start {
    font-size: 30px;
    background-color: #c0c0c0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 10px black;
    margin-top: 10px;
    padding: 5px 10px;

    &:hover {
      background-color: #838383;
    }
  }
}
