@font-face {
  font-family: digitalFont;
  src: url(digitalFont.ttf);
}
* {
  font-family: digitalFont;
}

body {
  margin: 0;
  padding: 0;
  background-color: #151515;
  height: 100vh;
  overflow-y: hidden;
  min-width: 1366px;
}

header {
  padding: 10px 0;
  text-align: center;
  background-color: #151515;
  color: #f0f0f0;
  letter-spacing: 5px;
}

form {
  position: relative;
  margin: 0 20px;
  padding: 50px 25px;
  border: 5px solid rgb(36, 36, 36);
  border-radius: 5px;
  box-shadow: 2px 2px 5px black inset;
}

.button-start {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5px;
  font-size: 4vh;
  background-color: #c0c0c0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 10px black;
}
.button-start:hover {
  background-color: #838383;
}

#input-text0 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text1 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text2 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text3 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text4 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text5 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text6 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text7 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text8 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text9 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text10 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text11 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text12 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text13 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text14 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text15 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text16 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text17 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text18 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text19 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text20 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text21 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text22 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text23 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text24 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text25 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text26 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text27 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text28 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text29 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text30 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text31 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text32 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text33 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text34 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text35 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text36 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text37 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text38 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text39 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text40 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text41 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text42 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text43 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text44 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text45 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text46 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text47 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text48 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text49 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text50 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text51 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text52 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text53 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text54 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text55 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text56 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text57 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text58 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text59 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text60 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text61 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text62 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text63 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text64 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text65 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text66 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text67 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text68 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text69 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text70 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text71 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text72 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text73 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text74 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text75 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text76 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text77 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text78 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text79 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text80 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text81 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text82 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text83 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text84 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text85 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text86 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text87 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text88 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text89 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text90 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text91 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text92 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text93 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text94 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text95 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text96 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text97 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text98 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text99 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text100 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text101 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text102 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text103 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text104 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text105 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text106 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text107 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text108 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text109 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text110 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text111 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text112 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text113 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text114 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text115 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text116 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text117 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text118 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text119 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text120 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text121 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text122 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text123 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

#input-text124 {
  color: #f0f0f0;
  text-align: center;
  font-size: 6vh;
  width: 2.55%;
  height: 9vh;
  margin: 10px 5px;
  background-color: #242424;
  border: none;
  box-shadow: 1px 1px 8px 0.5px #010101 inset;
}

/*# sourceMappingURL=style.css.map */
